body,html{
border: 0;
margin: 0;    

}
header{
background-color: #f9f9f9;
width: 100%;
height: 78px;
box-shadow: 0px 0px 9px 0px;    
margin-bottom: 7%;
    
}

h1{
float: left;
margin-left: 25px;    
font-family:sans-serif;
font-size: 33px;

}
ul{    
float: right;
width: auto;
display: flex;    
    
}

.hamburger{
  font-size: 40px;   
display: none;
cursor: pointer;    
}




li{
display: inline-block;
padding: 20px 30px;    
}

a{    
text-decoration: none;
margin-right: 56px;
font-size: 1.5vw;
font-family: sans-serif;    
color: black;
display: block;
margin-top: -5px;   
}
.btn a{
margin: 0px;     
}

li a:hover{
background-color: skyblue;    
color: black;
padding-left: 9px;
    padding-right: 9px;
padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px; 
transition-duration: 0.3s;   
}





.acc {  
background-color: #F0F0F0;    
width: 96%;
box-shadow: 0px 0px 5px 0px;    
margin-left: 2%;
height: 600px;
border-radius: 50px; 
max-height: 700px;    
}

.top{
text-align: center;    
}



.top img {
border-radius: 100%;
height: 160px;
margin-left: 2%;    
position: relative;
margin-top: 2%;

}





#username {
color: black;
margin-top: 2%; 
margin-left: 2%;    
font-size: 25px;
 font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
}

.online{
text-align: center;
margin-right: 5%;    
margin-top: 2%;

}

.online img{
width: 35px;    
}

h3{
text-align: center;
margin-top: -35px;    
margin-left: 30px;
color: #2EFF2E;
font-size: 23px;
    
}

.info{    
margin-right: -20px;
}

.grade{
display: flex;  
margin-top: 5%;    
}

.grade h4{
  font-size: 30px;    
margin-top: 90px;
margin-left: 20px;  
}



.fa-solid.fa-graduation-cap {
font-size: 30px;    
margin-top: 90px;
margin-left: 80px;

}

.logout{
float: right;
margin-right: 100px;    
display: flex; 
grid-gap: 9px;
margin-top: -20px;
}

.logout img{
max-width: 40px;    

}

.logout button{
font-family: "Volkhov", serif;
font-weight: 700;
font-style: normal;  
width: 90px;    
font-size: 20px;
border: 0px;
color: firebrick;

}

.logout button:hover{
text-shadow: 0px 0px 9px; 
transition: 0.3 ease all;   
}





/* ميديا كويري للموبايل والتابلت */
@media (min-width: 768px) {
 
     ul {
    float: none; /* إلغاء الفلوت */
    flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0;     
    width: 100px;
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: top 0.4s ease;
  align-items: center;
    z-index: 1000;
    margin-bottom: 12px;
    margin-left: 90%;   
    }

  ul.active {
    top: 78px; /* تظهر */
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1100;  
  }

  li {
    display: block;
    padding: 15px 0;
  }

  a {
    font-size: 18px;
    margin: 0;
  }

    .online{
    margin-left: -40px    
    }



}

